.photos > ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.photos {
  width: 800px;
  margin: 0 auto;
}

.photos > ul > li {
  border: 1px solid grey;
  padding: 1px;
  margin: 0 0 20px 0;
  text-align: center;
}

.no-selected-album {
  align-self: center;
  text-align: center;
  font-size: 20px;
  flex: 1;
  font-weight: 500;
}

.loading-selected-photos {
  align-self: center;
  text-align: center;
  font-size: 18px;
  flex: 1;
  font-weight: 500;
}

.no-selected-album > span {
  color: darkblue;
  font-size: 25px;
}

.search-filter {
  margin-bottom: 20px;
}

.search-filter > input {
  width: 778px;
  padding: 10px;
  border: 2px solid black;
}
